# Environment variables
.env
.env.local
.env*.local

# OS
.DS_Store

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp


# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
